Emails are case sensitive

**Describe the bug**
You can register multiple accounts with the same email by using different cases

**To Reproduce**
1. On the login page, register account with an email address
2. Create an account with the same email -> get an error of emails having to be unique
3. Change any letter to uppercase -> account is registered

**Expected behavior**
It should not be allowed.

**Screenshots**
<img width="810" height="129" alt="Image" src="https://github.com/user-attachments/assets/c636d030-36c7-490a-a035-74d0ff9034d0" />

**Additional context**
This could be used in impersonation attacks.
This could confuse less tech literate people.
Most email providers have a +tag system one could use instead if you need multiple accounts with the same email. `user+tag@email.provider`

[RFC 5321 section 2.3.11](https://www.rfc-editor.org/rfc/rfc5321#section-2.3.11) reads as follows:  
> The standard mailbox naming convention is defined to be "local-part@domain"; contemporary usage permits a much broader set of applications than simple "user names". Consequently, and due to a long history of problems when intermediate hosts have attempted to optimize transport by modifying them, the local-part MUST be interpreted and assigned semantics only by the host specified in the domain part of the address.

This effectively means that mail servers are free to treat addresses as case sensitive if they see fit to do so. While many common providers do not do this it is still allowed by the protocol and happening in reality (MS Exchange for example does support this). As such we cannot treat the email to be case insensitive without being in error considering the definition of how email addresses work.

PufferPanel also doesn't provide any messaging system that a user could exploit for impersonation attacks. When giving someone access to managing credentials or permissions of others you should be sure they are aware of concepts such as social engineering based attacks as that is something that extends beyond case sensitivity of an email address and outside of what PufferPanel can even attempt to mitigate whatsoever.